<% include ./layout/header.ejs %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>索引</th>
      <th>姓名</th>
      <th>性别</th>
      <th>留言</th>
      <th>时间</th>
      <th>操作</th>
      <th>删除</th>
    </tr>
  </thead>
  <tbody>
    <%pageData.map((item,index)=>{%>
    <tr>
      <th scope="row"><%=index+1%></th>
      <td><%=item.uname%></td>
       <td><%=item.sex%></td>    <!--?item.sex:setSex(item.sex) --><!--当sex为数字时，使用本函数调用-->>
      <td><%=item.test%></td>
      <td><%=item.createTime.toLocaleString()%></td>
      <td mark="<%= item._id%>">
         <button type="button" class="btn btn-success"><a href="/users/add?_id=<%= item.id%>">编辑</a></button> <!--  获取id 和class  -->
      </td>
      <td>
          <button type="button" class="btn btn-danger del" _id="<%= item.id%>">删除</button>   <!--获取id 和class -->
      </td>

    </tr>
    <%})%>
  </tbody>
</table>
<div class="info" allNum="<%= allNum%>" pageSize="<%= pageSize%>" page="<%= page%>"></div>
<!-- <%
  //当sex为数字时，使用本函数，并调用转换为汉字，现在使用的是将sex中的value值直接写成汉字
    //使用本函数将会导致只有'男'可以显示，要是使用可以改一下，现无办法
   function setSex(num){
    console.log(num)
    if(num==0){
      return "男";
    }else if(num==1){
      return "女";
    }else if(num==2){
      return "保密";
    }
  } 

%> -->
<% include ./layout/footer.ejs %>
<script>
  // 初始化 分页
var page_s1=createPage('.info');
//转换为数字
var page=parseInt($('.info').attr("page"));
// 设置分页
setPage(page_s1,{
       pageTotal: $('.info').attr("allNum"), // 数据总条数   
       pageSize: $('.info').attr("pageSize"),    // 每页显示条数
       pageCurrent: page,  //  当前页
       maxBtnNum: 5,   // 最多按钮个数  （最少5个）
       change:function(e){   // 页数变化回调函数（返回当前页码）
          //  $('#info').html(e)
          location.href="/?page="+e;
       }, 
 })
 $(function(){
   $(".del").click(function(){
     var _this=$(this);
     $.ajax({
        method:"POST",
        url:"/users/del",
        data:{_id:$(this).attr("_id")},
        success:function(res){
            if(res.code==1){
              // location.reload();
              _this.parent().parent().remove(); //  删除本元素的父亲的父亲，也就是将本行删除
            
            }
        }
      });
   })
 })
</script>